<div class="container" style="width: 50%">
  <div class="d-flex flex-column mt-3">
    <div class="row">
      <p class="col-4" style="color:#88556d">*必填欄位</p>
      <h1 class="display-5 ml-2">請輸入你的支出</h1>
    </div>

    <form action="/expense-tracker" method="POST">
      <div class="row mt-5">
        <label class="col-4 mt-2" for="name">
          <h2>名稱*:</h2>
        </label>
        <input id="name" type="text" style="width:300px">
      </div>

      <div class="row mt-5">
        <label class="col-4 mt-2" for="date">
          <h2>日期*:</h2>
        </label>
        <input id="date" type="date" value="2020-11-01" style="width:300px">
      </div>

      <div class="row mt-5">
        <label class="col-4 mt-2" for="title">
          <h2>類別*:</h2>
        </label>
        <select id="category" class="form-control mt-2" name="category" style="width:300px">
          <option>家居物業</option>
          <option>交通出行</option>
          <option>休閒娛樂</option>
          <option>餐飲食品</option>
          <option>其他</option>
        </select>
      </div>

      <div class="row mt-5">
        <label class="col-4 mt-2" for="amount">
          <h2>金額*:</h2>
        </label>
        <input id="amount" type="number" style="width:300px">
      </div>

      <div class="mt-5 ml-3 d-flex justify-content-center">
        <button class="btn btn-warning" type="submit">新增支出</button>
      </div>
    </form>

  </div>
</div>